<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            Valid email is required.
          </div>
        </div>

        <div class="mb-3">
          <label>Password</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="Enter your password">
            <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()" [attr.aria-pressed]="showPassword" [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'">
              <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            Minimum 6 characters.
          </div>
        </div>

        <app-loading-button [btnClass]="'btn btn-primary w-100'" [btnDisable]="loginForm.invalid" [isLoading]="isLoading" [label]="'Login'" [type]="'submit'"></app-loading-button>
      </form>
    </div>
  </div>
</div>
