/* You can add global styles to this file, and also import other style files */
.btn-xs {
  padding: 0.25rem 0.4rem !important;
  font-size: 0.75rem !important;
  line-height: 1.2 !important;
  border-radius: 0.2rem !important;
}


label.required::after {
  content: ' *';
  color: red;
}


/* Add this in your component CSS or global styles */
.custom-offcanvas-width {
  width: 24vw !important;
  max-width: 100vw !important;
}

@media (max-width: 425px) {
  .custom-offcanvas-width {
    width: 80vw !important;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .custom-offcanvas-width {
    width: 38vw !important;
  }
}

// main {
//   height: 100vh;
//     overflow-y: scroll;
// }
