/* You can add global styles to this file, and also import other style files */
.btn-xs {
  padding: 0.25rem 0.4rem !important;
  font-size: 0.75rem !important;
  line-height: 1.2 !important;
  border-radius: 0.2rem !important;
}
